

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
#intro {
  display: table;
  width: 100%;
  height: 100vh;
  background: #000;
}

#intro .carousel-item {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: cent-er;
  background-repeat: no-repeat;
}

.top{
  background-position: left top;
}

.center{
  background-position: center;
}

#intro .carousel-item::before {
  content: '';
  background-color: rgba(190, 216, 214, 0.06);
  filter: contrast(.68) brightness(.9) saturate(4);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#intro .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#intro .carousel-content {
  text-align: center;
}

#intro h2 {
  color: #fff;
  margin-bottom: 50px;
  font-size: 58px;
  font-weight: 700;
  font-family: dusha;
  
  text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #222,
               0 6px 6px rgba(0,0,0,.9),
               0 3px 5px rgba(0,0,0,.9),
               0 3px 3px rgba(0,0,0,.9),
               0 3px 5px rgba(0,0,0,.9),
               0 5px 10px rgba(0,0,0,.9),
               0 10px 10px rgba(0,0,0,.9),
               0 20px 20px rgba(0,0,0,.9);
}

@media (max-width: 768px) {
  #intro h2 {
    font-size: 40px;
  }
}

#intro p {
  font-size: 20px;
  width: 80%;
  margin: 0 auto 10px auto;
  color: #fff;
  font-family: 'lobster', cursive;
  text-shadow: 0 1px 1px #ccc, 
               0 1px 1px #c9c9c9,
               0 1px 1px #bbb,
               0 1px 1px #b9b9b9,
               0 6px 6px rgba(0,0,0,.9),
               0 6px 6px rgba(0,0,0,.9),
               0 5px 5px rgba(0,0,0,.9);
}

@media (min-width: 1024px) {
  #intro p {
    width: 80%;
    font-size: 30px;
  }
}

#intro .carousel-fade .carousel-inner .carousel-item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

#intro .carousel-fade .carousel-inner .carousel-item,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#intro .carousel-fade .carousel-inner .active,
#intro .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
#intro .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.9s;
}

#intro .carousel-fade .carousel-inner .carousel-item-next,
#intro .carousel-fade .carousel-inner .carousel-item-prev,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#intro .carousel-control-prev, #intro .carousel-control-next {
  width: 10%;

}

@media (min-width: 1024px) {
  #intro .carousel-control-prev, #intro .carousel-control-next {
    width: 5%;
  }
}

#intro .carousel-control-next-icon, #intro .carousel-control-prev-icon {
  background: none;
  font-size: 32px;
  line-height: 1;
  text-shadow: 0 1px 1px #ccc, 
               0 1px 1px #c9c9c9,
               0 1px 1px #bbb,
               0 1px 1px #b9b9b9,
               0 1px 1px #000,
               1px 6px 6px rgba(0,0,0,.9),
               0 6px 6px rgba(0,0,0,.9),
               0 6px 6px rgba(0,0,0,.9),
               0 5px 5px rgba(0,0,0,.9),
               0 5px 5px rgba(0,0,0,.9),
               0 10px 10px rgba(0,0,0,.9),
               0 20px 20px rgba(0,0,0,.9);
}

#intro .carousel-indicators li {
  cursor: pointer;
}

#intro .btn-get-started {
  font-family: "whitney", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  background: #FF432E;
}

#intro .btn-get-started:hover {
  background: #fff;
  color: #FF432E;
}

 .animated1 {
  -webkit-animation: lightSpeedIn 1s ease-in 800ms both;
  animation: lightSpeedIn 1s ease-in 800ms both;
}

 .animated2 {
  -webkit-animation: bounceIn 1s ease-in 800ms both;
  animation: bounceIn 1s ease-in 800ms both;
}

 .animated3 {
  -webkit-animation: flipInX 2s ease-in-out 800ms both;
  animation: flipInX 2s ease-in-out 800ms both;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
@font-face {
    font-family: dusha;
    src: url(../fonts/dusha.woff)
}

@font-face {
    font-family: whitney;
    src: url(../fonts/Whitney Medium.ttf)
}




/******* Style Loader *******/

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 9999999999;
}

.spinner {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
  -webkit-animation: rotatee 2.0s infinite linear;
  animation: rotatee 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -webkit-animation: bouncee 2.0s infinite ease-in-out;
  animation: bouncee 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes rotatee { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotatee {
  100% {
    transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes bouncee {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bouncee {
  0%, 100% {
    transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
      }
}


